.navbar {
    margin-bottom: 0;
}

.jumbotron-blue{
    color: white;
    background-color: rgb(111, 84, 153);
    background-image: linear-gradient(rgb(86, 61, 124) 0px, rgb(111, 84, 153) 100%);
    background-repeat: repeat-x;
    margin-bottom: 0;
}

.jumbotron-green {
    color: #5cb85c;
    background-color: white;
}

.text-tiny {
    font-size: 14px !important;
}

.img-small {
    height: 120px;
}